<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear />
    <add name="connectionStr" connectionString="Data Source=D:\ShenJie.db;Pooling=true;FailIfMissing=false" providerName="System.Data.Sqlite" />
    <!--<add name="connectionStr" connectionString="Data Source=|DataDirectory|ShenJie.db;Pooling=true;FailIfMissing=false" providerName="System.Data.Sqlite" />-->
  </connectionStrings>
  <appSettings>
    <add key="connectionStr2" value="Data Source=D:\Projects\DotNet\ReaderV2\DB\ShenJie.db;Pooling=true;FailIfMissing=false"/>
    <add key="TmpPath" value="D:\Projects\DotNet\ReaderV2\Tmp\"/>
    <add key="IndexImg" value="D:\Projects\DotNet\ReaderV2\Assets\Index\"/>
    
    <!--Setting Start-->
    <!--是否翻页:0.不翻页；1.翻页-->
    <add key="isTurnPage" value="0"/>
    
    <!--阅读文本字体:1.小；2.中；3.大-->
    <add key="sizeFont" value="18"/> 
    
    <!--阅读窗口背景:1.#E1E9DA；2.#5C5B59；3.#5C5B59-->
    <add key="theme" value="#E1E9DA"/>
    <!--Setting End-->
  
</appSettings>
</configuration>
