<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear />
    <add name="connectionStr" connectionString="Data Source=D:\ShenJie.db;Pooling=true;FailIfMissing=false" providerName="System.Data.Sqlite" />
    <!--<add name="connectionStr" connectionString="Data Source=|DataDirectory|ShenJie.db;Pooling=true;FailIfMissing=false" providerName="System.Data.Sqlite" />-->
  </connectionStrings>
  <appSettings>
    <add key="connectionStr2" value="Data Source=D:\Projects\DotNet\ReaderV2\DB\ShenJie.db;Pooling=true;FailIfMissing=false"/>
    <add key="TmpPath" value="|DataDirectory|Tmp\"/>
    <add key="IndexImg" value="D:\ReaderV2\Assets\Index\"/>
    
    <!--Setting Start-->
    <!--是否翻页:0.不翻页；1.翻页-->
    <add key="isTurnPage" value="0"/>
    
    <!--阅读文本字体:18.小；22.中；30.大-->
    <add key="fontSize" value="22"/> 
    
    <!--阅读窗口背景:1.F0EEE2；2.6E6E6E；3.BAC4CD-->
    <add key="theme" value="F0EEE2"/>
    <!--Setting End-->
  
</appSettings>
</configuration>
